/* Write your global styles here, in PostCSS syntax */
/* https://dev.to/swyx/100-bytes-of-css-to-look-great-everywhere-19pd */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--text-color: rgba(55, 65, 81, 1);
	--background-color: rgba(243, 244, 246, 1);
}

@layer base {
	* {
		@apply m-0 p-0 border-0 align-baseline text-lg;
	}
	html,
	body {
		@apply flex relative h-full m-0 box-border leading-relaxed w-screen;
		color: var(--text-color);
		background-color: var(--background-color);
	}
	body {
		@apply overflow-y-hidden;
		font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu,
			Cantarell, 'Helvetica Neue', sans-serif;
	}

	header {
		@apply block fixed w-full h-10 top-0;
	}

	main {
		@apply mt-10 overflow-y-auto flex w-screen justify-center;
		height: calc(100% - theme('spacing.10'));
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply mr-0 ml-0 mb-4 font-bold;
	}

	h1 {
		@apply text-3xl;
	}

	h2,
	h3 {
		@apply text-2xl;
	}

	p,
	ul,
	ol {
		@apply mb-8 font-sans;
	}

	a {
		text-decoration: underline dotted;
	}

	a:hover {
		@apply underline;
	}
}

@layer components {
	.main-center {
		@apply overflow-y-auto;
		max-width: 70ch;
		padding: 1em;
		height: calc(100% - theme('spacing.2'));
	}
	.main-center::-webkit-scrollbar {
		@apply w-4;
	}
	.main-center::-webkit-scrollbar-track {
		background-color: var(--text-color);
	}
	.main-center::-webkit-scrollbar-thumb {
		@apply border-2 border-solid;
		background-color: var(--background-color);
		border-color: var(--text-color);
	}

	.link-no-underline {
		@apply no-underline;
	}

	.tag {
		background-color: var(--text-color);
		color: var(--background-color);
		border-color: var(--text-color);
		margin: 0px 4px 0px 0px;
		@apply no-underline lowercase text-xs p-1 border rounded;
	}

	.tag:hover {
		background-color: var(--background-color);
		color: var(--text-color);
		border-color: var(--text-color);
	}
}
